*pdf
*jpg
__pycache__
*.pyc
*.pyo   
*.pyd
*.db
*.sqlite3
*.sqlite
*.log
*.bak
*.swp
.DS_Store
.vscode
env/
venv/
ENV/       
VENV/
Env/    
Env/
build/  
dist/
*.egg-info/
.idea/
*.iml
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.7z
*.mp4
*.mov
*.avi
*.mkv
*.flv   
*.wmv
*.iso
*data/real_estate.db
